@import "mixin.scss";

h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

.navbar {
  padding-top: 10px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 99;
}

.menu-group {
  display: none;
  flex-direction: column;
  position: absolute;
}

.menu-item {
  padding: 5px;
  color: #000;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateX(-30px);
}

.menu-item > a:hover {
  color: rgb(255, 95, 37);
}

.menu-button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: rgb(255, 95, 37);
  }
}

.main-wrapper {
  display: flex;
  transition: all 0.4s;
  overflow: hidden;
  width: 100%;
  transform: scale(1.3);
  &:hover {
    transform: scale(1.4);
  }
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  &__center {
    width: 350px;
    height: 350px;
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: 3;
    transform-style: preserve-3d;
  }
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 720px;
    overflow: hidden;
    color: #000;
    z-index: 4;
    overflow: visible;
  }
  &__video {
    max-width: 720px;
    width: 100vw;
    max-height: 720px;
    height: 100vh;
    border: 1px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    object-fit: none;
    transform-style: preserve-3d;
  }
  &__heading {
    color: #fff;
    background-color: #000;
    font-size: 2em;
  }
}

.about {
  margin-top: 200px;
  margin-bottom: 150px;
  opacity: 0;
  transition: all 1s;
}

.about-us {
  display: grid;
  grid-template-columns: 400px 635px;
  gap: 20px;
  transition: all 1s ease-in-out;
}

@include large {
  .circle {
    &__content {
      max-width: 590px;
    }
    &__video {
      max-width: 590px;
      max-height: 590px;
    }
    &__heading {
      font-size: 1.5em;
    }
  }

  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 635px;
    &__short-text {
      order: 4;
    }
  }
}

@include medium {
  .circle {
    &__content {
      max-width: 450px;
    }
    &__center {
      width: 250px;
      height: 250px;
    }
    &__video {
      max-width: 450px;
      max-height: 450px;
    }
    &__heading {
      font-size: 1.2em;
    }
  }

  .about {
    max-width: 350px;
  }

  .about-us {
    text-align: justify;
    &__image {
      max-width: 350px;
    }
  }
}

.active {
  opacity: 1;
}

@include small {
  .circle {
    &__content {
      max-width: 360px;
    }
    &__center {
      width: 200px;
      height: 200px;
    }
    &__video {
      max-width: 360px;
      max-height: 360px;
    }
    &__heading {
      font-size: 1em;
    }
  }
}

@include extra-small {
  .menu-group {
    transform: translateX(-20px);
  }

  .circle {
    &__content {
      max-width: 250px;
    }
    &__center {
      width: 125px;
      height: 125px;
    }
    &__video {
      max-width: 250px;
      max-height: 250px;
    }
    &__heading {
      font-size: 0.8em;
    }
  }

  .about {
    max-width: 250px;
  }

  .about-us {
    &__image {
      max-width: 250px;
    }
  }
}
